@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Lobster&family=Niconne&family=Outfit:wght@100..900&family=Parkinsans:wght@300..800&family=Passion+One:wght@400;700;900&family=Poiret+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Parkinsans", sans-serif;
}

.home {
  width: 100%;
  background: url("./images/back.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  margin-top: 80px;
}

.about {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: black;
}
.about .personal-info {
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1%;
}

.social-Media-contact a {
  color: rgb(206, 206, 206);
  text-decoration: none;
  &:hover {
    color: white;
  }
}

.social-Media-contact {
  background-color: #061a30;
  width: 100%;
  border-radius: 10px;
}

.about .about-buttons button {
  width: 150px;
  height: 40px;
  border-radius: 10px;
  border: 0 solid #000;
  background-color: rgb(255, 238, 0);
  &:hover {
    transform: scale(1.02);
  }
}

.about .about-buttons button:active {
  transform: scale(1.05);
}

.Info {
  position: absolute;
  top: 30%;
  left: 5%;
  background-color: #010430fe;
  backdrop-filter: blur(30px);
  color: rgb(255, 255, 255);
  padding: 50px;
}
.Info p {
  font-weight: 700;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
.Info h1 {
  font-size: 6vw;
  font-weight: 900;
}

.photo {
  width: 350px;
  height: 400px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  contain: content;
  transition: 0.5s ease-in-out;
  border: 1px solid black;
  &:hover {
    transform: scale(1.02);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.396);
  }
}

.photo .line {
  width: 0%;
  height: 5px;
  background-color: rgb(255, 0, 0);
  position: relative;
  transition: 0.5s;
}

.photo img {
  width: 370px;
}

.skills {
  height: 120%;
  padding-bottom: 40px;
  overflow-x: hidden;
}
.skills h1 {
  margin-left: 10%;
  margin-top: 1%;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 800;
}

.skills .card-container .card {
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.151);
  transition: 0.2s ease-in-out;
  border: 0;
  &:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.258);
    transform: scale(1.02);
  }
}
.project-line {
  width: 0%;
  height: 5px;
  background-color: #c30000;
  transition: 0.3s ease-in-out;
}
.card-title {
  text-decoration: none;
}
.Projects {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #f4f4f4;
}
.Projects .card-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  gap: 30px;
  height: 100%;
  justify-content: center;
  padding-top: 2%;
}

.Projects .card-container .card {
  height: 250px;
}
.Projects h1 {
  margin-left: 2%;
  margin-left: 10%;
  margin-top: 1%;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 800;
}
.card {
  contain: content;
}

.social-media {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #21212a;
}

.social-media ul {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-items: center;
}
.social-media ul li {
  display: flex;
  align-items: center;
}

.social-media ul li a {
  text-decoration: none;
  color: white;
  font-size: 2vw;
  &:hover {
    text-decoration: underline;
  }
}
.ri-linkedin-box-fill,
.ri-instagram-line,
.ri-facebook-circle-fill,
.ri-whatsapp-line {
  font-size: 70px;
}
.social-media h1 {
  font-size: 3rem;
}
a:hover {
  text-decoration: underline;
}
.line-between {
  width: 2px;
  height: 100px;
  background-color: #fff;
}

.social-heading h1 {
  margin-left: 10%;
  margin-top: 1%;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 800;
  color: #fff;
}

.links {
  border-right: 2px solid rgb(79, 79, 79);
}

.contact-heading h1 {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 800;
}

.contact-heading {
  width: 100%;
  display: flex;
}

#backToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none; /* Hidden initially */
  padding: 10px 15px;
  font-size: 14px;
  background-color: #0075fb;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

#backToTop:hover {
  background-color: #0056b3;
  border: 1px solid white;
}

ul a,
a {
  text-decoration: none;
  list-style: none;
  color: white;
}

ul,
li a {
  list-style: none;
  color: white;
}

.footer ul li {
  margin: 25px;
  font-size: 0.9rem;
}
.footer-list {
  border-right: 3px solid rgb(29, 29, 84);
}

@media screen and (max-width: 768px) {
  .home {
    height: 100vh;
    width: 100%;
    background-size: contain;
    margin-top: 110px;
    background-color: #0075fb;
    margin-top: -70px;
  }

  .Info {
    position: absolute;
    top: 55%;
    left: 10%;
    background-color: #000538;
    backdrop-filter: blur(0px);
    color: rgb(255, 255, 255);
    padding: 20px;
  }
  .Info p {
    font-weight: 700;
    font-size: 1.1rem;
    color: rgb(255, 255, 255);

    text-shadow: 1px 1px 2px rgb(0, 0, 0);
  }
  .Info h1 {
    font-size: 2rem;
    font-weight: 900;
  }
  .social-Media-contact {
    gap: 5px;
  }
  .footer-list {
    border-right: 0px solid rgb(29, 29, 84);
  }

  .about .personal-info {
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10%;
    font-size: 3vw;
  }
  .personal-info .about-buttons {
    display: flex;
  }
  .about {
    align-items: center;
    overflow-x: hidden;
  }
  .about .about-buttons button {
    width: 100px;
    margin: 5px;
  }
  .photo {
    width: 250px;
    height: 300px;
  }
  .photo img {
    width: 100%;
  }
}
